<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>訂單填寫</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.moonlight.min.css" />
    <link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
    <script src="http://cdn.kendostatic.com/2015.1.429/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>

    <style>
        * {
            font-family: 微軟正黑體;
        }
    </style>

</head>
<body>
    <div class="content-pane">
        <div id="grid"></div>
    </div>
    <script>
        $(document).ready(function () {
            var UrlBase = "/";
            $("#grid").kendoGrid({
                dataSource: {
                    pageSize: 5,
                    dataType: "jsonp",
                    transport: {
                        read: {
                            url: UrlBase + "api/Favor",
                            contentType: "application/json; charset=utf-8",
                            type: "GET"
                        },
                        create: {
                            url: UrlBase + "api/Favor",
                            contentType: "application/json; charset=utf-8",
                            type: "POST"
                        },
                        update: {
                            url: UrlBase + "api/Favor",
                            contentType: "application/json; charset=utf-8",
                            type: "PUT"
                        },
                        destroy: {
                            url: UrlBase + "api/Favor",
                            contentType: "application/json; charset=utf-8",
                            type: "DELETE"
                        },
                        parameterMap: function (data, operation) {
                            if (operation !== "read") {
                                return kendo.stringify(data);
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "Form_ID",
                            fields: {
                                Form_ID: { type: "int", editable: false, nullable: false },
                                Product_Name: { type: "string", editable: true, nullable: false, validation: { required: true } },
                                Product_Num: { type: "number", editable: true, nullable: false, validation: { required: true } },
                                Customer_Name: { type: "string", editable: true, nullable: false, validation: { required: true } },
                                Customer_Phone: { type: "string", editable: true, nullable: false, validation: { required: true } },
                                Customer_Email: { type: "email", editable: true, nullable: false, validation: { required: true } },
                                Send_Method: { type: "string", editable: true, nullable: false, validation: { required: true } },
                                Form_Remark: { type: "string", editable: true },
                            }
                        }
                    }
                },
                height: 550,
                scrollable: true,
                sortable: true,
                filterable: true,
                editable: {
                    mode: "popup",
                    update: true,
                },
                toolbar: [{ name: "create", text: "新增顧客訂單" }],
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { field: "Form_ID", title: "訂單編號", width: "150px" },
                    { field: "Product_Name", title: "商品名稱", width: "150px" },
                    { field: "Product_Num", title: "商品數量", width: "150px" },
                    { field: "Customer_Name", title: "客戶名稱", width: "150px" },
                    { field: "Customer_Phone", title: "客戶電話", width: "150px" },
                    { field: "Customer_Email", title: "客戶信箱", width: "150px" },
                    { field: "Send_Method", title: "寄送方式", width: "150px" },
                    { field: "Form_Remark", title: "備註", width: "150px" },
                    {
                        command: [
                        { name: "edit", text: "修改" },
                        { name: "destroy", text: "刪除" }
                        ], title: "　功能", width: "150px"
                    }
                ]
            });
            $("#grid").on("click", ".k-grid-edit , .k-grid-add", function () {
                $('.k-grid-update').text('儲存');
                $('.k-grid-cancel').text('取消');
                $('.k-window-title').text('訂單資料');
            })

        });
    </script>
    <br>
    <div>
        <div class="login-rigister">
            <ul class="unstyled-list list-inline">
                <li>
                    <a class="rigister" href="index.html">回首頁 <span> </span></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</body>
</html>
