<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Brnd-logo Website Template | Home :: w3layouts</title>
    <link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="../js/move-top.js"></script>
    <script type="text/javascript" src="../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </script>
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!----start-top-nav-script---->
    <script>
        $(function () {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();
            $(pull).on('click', function (e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function () {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <!----//End-top-nav-script---->
</head>
<body>
    <!----container---->
    <div class="container">
        <!----top-header---->
        <div class="top-header">
            <div class="logo">
                <a href="index.html"><img src="../images/logo.jpg" title="barndlogo" /></a>
            </div>
            <div class="top-header-info">
                <div class="top-contact-info">
                    <ul class="unstyled-list list-inline">
                        <li><span class="phone"> </span>09-001-121-52</li>
                        <li><span class="mail"> </span><a href="#">kuas-ming-pei-fen@kuas.edu.tw</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="cart-details">
                    <div class="add-to-cart">
                        <ul class="unstyled-list list-inline">
                            <li>
                                <span class="cart"> </span>
                                <ul class="cart-sub">
                                    <li><p>0 Products</p></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="Welcome-rigister">
                        <ul class="unstyled-list list-inline">
                            <li><a class="Welcome" href="#">Welcome</a></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!----//top-header---->
        <!---top-header-nav---->
        <div class="top-header-nav">
            <!----start-top-nav---->
           <nav class="top-nav main-menu">
                <ul class="top-nav">
                    <li><a href="products.html">商品介紹 </a><span> </span></li>
                     <li><a href="pay.html">付款方式</a><span> </span></li>                   
                    <li><a href="about.html">關於我們</a></li>
                    <li><a href="form.html">表單填寫</a></li>
                    <div class="clearfix"> </div>
                </ul>
                <a href="#" id="pull"><img src="../images/nav-icon.png" title="menu" /></a>
            </nav>
            <!----End-top-nav---->
            <!---top-header-search-box--->
            <div class="top-header-search-box">
                <form>
                    <input type="text" placeholder="Search" required /> 
                    <input type="submit" value=" ">
                </form>
            </div>
            <!---top-header-search-box--->
            <!---top-header-search-box--->
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//top-header-nav---->
    <!----start-slider-script---->
    <script src="../js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!----//End-slider-script---->
    <!-- Slideshow 4 -->
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="../images/slide1.jpg" alt="">
                <div class="caption">
                    <div class="slide-text-info">
                        <h4>服務</h4>
                        <label>Hello</label>                        
                    </div>
                </div>
            </li>
            <li>
                <img src="../images/slide2.jpg" alt="">
                <div class="caption">
                    <div class="slide-text-info">
                        <h4>Best</h4>
                        <label>Nice</label>                       
                    </div>
                </div>
            </li>
            <li>
                <img src="../images/slide1.jpg" alt="">
                <div class="caption">
                    <div class="slide-text-info">
                        <h4>平價</h4>
                        <label>Products</label>
                      
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
    <!----- //End-slider---->
    <!----content---->
    <div class="content">
        <div class="container">
            <!---top-row--->
            <div class="top-row">
                <div class="col-xs-4">
                    <div class="top-row-col1 text-center">
                        <h2>馬克杯</h2>
                        <img class="r-img text-center" src="../images/img-w.jpg" title="name" />
                        <span><img src="../images/obj1.gif" title="name" /></span>
                        <h4>TOTAL</h4>
                        <label>3 PRODUCTS</label>
                        <a class="r-list-w" href="single-page.html"><img src="../images/list-icon.png" title="list" /></a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="top-row-col1 text-center">
                        <h2>滑鼠墊</h2>
                        <img class="r-img text-center" src="../images/man-r-img.jpg" title="name" />
                        <span><img src="../images/obj1.gif" title="name" /></span>
                        <h4>TOTAL</h4>
                        <label>357 PRODUCTS</label>
                        <a class="r-list-w" href="single-page.html"><img src="../images/list-icon.png" title="list" /></a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="top-row-col1 text-center">
                        <h2>鑰匙圈</h2>
                        <img class="r-img text-center" src="../images/kid-r-img.jpg" title="name" />
                        <span><img src="../images/obj1.gif" title="name" /></span>
                        <h4>TOTAL</h4>
                        <label>357 PRODUCTS</label>
                        <a class="r-list-w" href="single-page.html"><img src="../images/list-icon.png" title="list" /></a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="top-row-col1 text-center">
                        <h2>乳膠杯墊</h2>
                        <img class="r-img text-center" src="../images/img-4.jpg" title="name" />
                        <span><img src="../images/obj1.gif" title="name" /></span>
                        <h4>TOTAL</h4>
                        <label>2 PRODUCTS</label>
                        <a class="r-list-w" href="single-page.html"><img src="../images/list-icon.png" title="list" /></a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="top-row-col1 text-center">
                        <h2>水壺</h2>
                        <img class="r-img text-center" src="../images/img-5.jpg" title="name" />
                        <span><img src="../images/obj1.gif" title="name" /></span>
                        <h4>TOTAL</h4>
                        <label>2 PRODUCTS</label>
                        <a class="r-list-w" href="single-page.html"><img src="../images/list-icon.png" title="list" /></a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="top-row-col1 text-center">
                        <h2>磁磚</h2>
                        <img class="r-img text-center" src="../images/img-6.jpg" title="name" />
                        <span><img src="../images/obj1.gif" title="name" /></span>
                        <h4>TOTAL</h4>
                        <label>2 PRODUCTS</label>
                        <a class="r-list-w" href="single-page.html"><img src="../images/list-icon.png" title="list" /></a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="top-row-col1 text-center">
                        <h2>帽子</h2>
                        <img class="r-img text-center" src="../images/img-7.jpg" title="name" />
                        <span><img src="../images/obj1.gif" title="name" /></span>
                        <h4>TOTAL</h4>
                        <label>2 PRODUCTS</label>
                        <a class="r-list-w" href="single-page.html"><img src="../images/list-icon.png" title="list" /></a>
                    </div>
                </div>
                <vdi class="clearfix">
            </div>
        </div>
        <!---top-row--->
        <div class="container">
                      
        <!----content---->
        <!----footer--->
        <div class="footer">
            <div class="container">
                <div class="col-md-3 footer-logo">
                    <a href="index.html"><img src="../images/logo.jpg" title="brand-logo" /></a>
                </div>
                <div class="col-md-7 footer-links">
                    <ul class="unstyled-list list-inline">
                        <li></li>
                        <li></li>
                        <li> Asp.net<span> </span></li>                       
                        <li>許家銘 <span> </span></li>
                        <li>魏沛凌 <span> </span></li>
                        <li>吳碧分 <span> </span></li>                        
                     </ul>
                </div>
                <div class="col-md-2 footer-social">
                    <ul class="unstyled-list list-inline">
                         <li><a class="twitter" href="#"><span> </span></a></li>
                        <li><a class="facebook" href="#"><span> </span></a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <!---//footer--->
       
    </div>
    <!----container---->
</body>
</html>
