<!DOCTYPE html>
<html>
<head>
    <title>Brnd-logo Website Template | Home :: w3layouts</title>
    <link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
    <script src="../js/jquery.min.js"></script>
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="../js/move-top.js"></script>
    <script type="text/javascript" src="../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <script>
        $(function () {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();
            $(pull).on('click', function (e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function () {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <style>
        * {
            font-family: 微軟正黑體;
        }

        .paytext {
            display: block;
        }

        #text {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top-header">
            <div class="logo">
                <a href="index.html"><img src="../images/logo.jpg" title="barndlogo" /></a>
            </div>
            <div class="top-header-info">
                <div class="top-contact-info">
                    <ul class="unstyled-list list-inline">
                        <li><span class="phone"> </span>09-101-121-52</li>
                        <li>
                            <span class="mail"> </span>
                            <a href="#">ming-pei-fen@kuas.edu.tw</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-header-nav">
            <nav class="top-nav main-menu">
                <ul class="top-nav">
                    <li>
                        <a href="about.html">關於我們</a>
                    </li>
                    <li>
                        <a href="pay.html">付款方式</a>
                        <span> </span>
                    </li>
                    <li>
                        <a href="form.html">表單填寫</a>
                        <span> </span>
                    </li>
                </ul>
                <a href="#" id="pull"><img src="../images/nav-icon.png" title="menu" /></a>
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div id="text">
        <h1 class="paytext">
            歡迎來到 Favor 小舖 ♥
            <br />
            <br />
            -----------------------------------------------------------------------
        </h1>
        <br />
        <div class="paytext">
            欲購買者請務必填單 :)
            <br />
            <br />
            [步驟1] : 請私訊欲購買的商品 討論圖片:))
            <br />
            <br />
            [步驟2]:匯款資料
            <br />
            <br />
            以下為銀行帳戶-請確認金額後再匯款
            <br />
            <br />
            <h4> ◕[ 若 用 提 款 機 ATM , 任 何 銀 行 均 可 ]<br /></h4>
            代 碼：004
            <br />
            帳 號：091-0044-7X93X
            <br />
            <h4> ◕[ 若 用 匯 款 單 ]<br /></h4>
            代 碼：004台 灣  銀 行， 楠 梓 分 行
            <br />
            帳 號：091-0044-7X93X
            <br />
            戶 名：吳碧分
            <br />
            <br />
            <br />
            <h4>
                ◕[ 若 用 無 摺 ] , 請務必在單子中填上「姓名」否則無法對帳
                <br />
                <br />
            </h4>
            [步驟3]:取貨方式
            <br />
            <br />
            ※若採郵寄者請在下方填寫地址即可 !!!!!!!!!!!!!!!
            <br />
            <br />
            ※若採便利商店取貨者請查詢  門市代碼 以及 門市名稱
            <br />
            <br />
            全家店到店 門市查詢
            <br /> http://www.family.com.tw/marketing/inquiry.aspx
            <br />
            <br />
            7-11店到店 門市查詢
            <br /> http://emap.pcsc.com.tw/emap.aspx
            <br />
            <br />
            請紀錄 門市代碼 以及 門市名稱 以方便寄送  ^_________^
            <br />
            <br />
            填單後 3天內匯款。 匯款後私訊告知帳號後五碼、以及銀行名稱  !!!!!
            <br />
            <br />
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-logo">
                <a href="index.html"><img src="../images/logo.jpg" title="brand-logo" /></a>
            </div>
            <div class="col-md-7 footer-links">
                <ul class="unstyled-list list-inline">
                    <li></li>
                    <li></li>
                    <li> ASP.NET<span> </span></li>
                    <li>許家銘 <span> </span></li>
                    <li>魏沛凌 <span> </span></li>
                    <li>吳碧分 <span> </span></li>
                    <li>期末</li>
                </ul>
            </div>
            <div class="col-md-2 footer-social">
                <ul class="unstyled-list list-inline">
                    <li>
                        <a class="facebook" href="https://goo.gl/wKlNm6"><span> </span></a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</body>
</html>
