<!DOCTYPE html>
<html>
<head>
    <title>運動水壺</title>
    <link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
    <script src="../js/jquery.min.js"></script>
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="../js/move-top.js"></script>
    <script type="text/javascript" src="../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <script>
        $(function () {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();
            $(pull).on('click', function (e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function () {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <style>
        .none {
            color: red;
            position: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top-header">
            <div class="logo">
                <a href="index.html"><img src="../images/3.jpg" title="barndlogo" height="100" width="600" /></a>
            </div>
            <div class="top-header-info">
                <div class="top-contact-info">
                    <ul class="unstyled-list list-inline">
                        <li><span class="phone"> </span>09-101-121-52</li>
                        <li>
                            <span class="mail"> </span>
                            <a href="#">ming-pei-fen@kuas.edu.tw</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="login-rigister">
                        <ul class="unstyled-list list-inline">
                            <li>
                                <a class="rigister" href="index.html">回上一頁 <span> </span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top-header-nav">
            <nav class="top-nav main-menu">
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="products">
                <div class="product-filter">
                    <h1><a href="#">產品規格</a></h1>
                    <div class="product-filter-grids">
                        <div class="col-md-3 product-filter-grid1-brands">
                            <div class="clearfix"> </div>
                        </div>
                        <div class="col-md-10 product-filter-grid1-brands-col2">
                            <div class="producst-cate-grids">
                                <div class="col-md-8 producst-cate-grid text-left">
                                    <div>
                                        <h1>
                                            【商品名稱】運動水壺
                                            <br />
                                            【商品尺寸】長15 cm * 寬6 cm
                                            <br />
                                            【商品容量】約400 ml
                                            <br />
                                            【商品材質】金屬
                                            <br />
                                            【商品價格】260元（附盒子）
                                            <br />
                                            【商品運費】60元 或【面交】0元
                                            <br />
                                            【備註】圖中瓶蓋為旋轉蓋，
                                            <br />買就送掀蓋式奶瓶造型蓋
                                            <br />
                                        </h1>
                                    </div>
                                </div>
                                <div class="col-md-4 producst-cate-grid text-right">
                                    <img src="../images/water/1.jpg" height="350" width="350" title="name">
                                </div>
                            </div>
                        </div>
                        <div class="product-filter-grid1-brands-col3">
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="special-products all-poroducts">
                <div class="s-products-head">
                    <div class="s-products-head-left">
                        <h3>LATEST <span>PRODUCTS</span></h3>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="special-products-grids">
                    <div class="col-md-3 special-products-grid text-center">
                        <img src="../images/water/2.jpg" title="product-name" height="360" width="250" />
                        <h4><a href="single-page.html">動漫水壺</a></h4>
                        <a class="product-btn" href="form.html"><span>$260</span><small>GET NOW</small><label> </label></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="col-md-3 footer-logo">
                    </div>
                    <div class="col-md-7 footer-links">
                        <ul class="unstyled-list list-inline">
                            <li>
                                <a href="#">ASP.NET</a>
                                <span> </span>
                            </li>
                            <li>
                                <a href="#">許家銘</a>
                                <span> </span>
                            </li>
                            <li>
                                <a href="#">魏沛凌</a>
                                <span> </span>
                            </li>
                            <li>
                                <a href="#">吳碧分</a>
                                <span> </span>
                            </li>
                            <li><a href="#">期末</a> </li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer-social">
                        <ul class="unstyled-list list-inline">
                            <li>
                                <a class="facebook" href="https://goo.gl/wKlNm6"><span> </span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="copy-right">
                <div class="container">
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $().UItoTop({ easingType: 'easeOutQuart' });
                        });
                    </script>
                    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
